Flask==3.1.0
numpy==1.26.4
opencv-python==4.10.0.84
pillow==10.3.0
roboflow==1.1.39
torch==2.3.0
torchvision==0.18.0
tqdm==4.66.4
ultralytics==8.3.70
gunicorn
uwsgi
fastapi
uvicorn
python-multipart
onnx
onnxruntime
